//* Colors

// Text
$white-txt: #fafafa;
$black-txt: #111111;
$link-txt: #fafafa;
$placeholder-txt: #fafafa;

// Backgrounds
$body-bg: #fff;
$header-bg: #fff;
$nav-bg: #fff;
$footer-bg: #fff;
$card-bg: #fff;

// Buttons
$button-bg: #fff;
$button-hover: #fff;

// Accents

// Borders
