@use '../abstracts/' as *;

//* Header

header {
  max-width: 100vw;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 0.2);
}

.header__img {
  position: relative;
  height: max-content;
  padding-block: 5rem 3rem;
  font-size: 1.2rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__lwd {
  overflow: hidden;
  margin-bottom: 2rem;
}

.header__title,
.header__subtitle {
  transform: translateY(200%);
  max-width: 42rem;
  width: 100%;
  z-index: 2;

  @include mqMedium {
    max-width: 20rem;
  }

  @include mqSmall {
    max-width: 18rem;
  }
}

.header__subtitle {
  margin-left: 0.25rem;
  width: 96%;
}

.header__text-container {
  position: relative;
  gap: 2rem;
  opacity: 0;
  z-index: 2;

  @include mqMedium {
    align-items: stretch;
  }
}

.header__text {
  color: $white-txt;
  background: $dark-bg;
  padding: 1rem 1.5em;
  border: $btn-border;
  outline: 1px solid $outline;
  outline-offset: -7px;
  font-family: 'Roboto Slab', serif;
  text-shadow: -2px 2px black;

  @include mqMedium {
    padding-block: 1.5rem;
  }

  ul {
    gap: 1rem;

    @include mqMedium {
      flex-direction: column;
      gap: 0.75rem;
    }
  }
}

.header__diamond {
  width: 0.4rem;
  height: 0.4rem;
  background: $gold;
  transform: rotate(45deg);
}

.home__header {
  .header__img {
    margin-top: 2rem;
    background-image: url('/assets/img/header_home.jpg');

    @include mqMedium {
      background-position: 50%;
    }

    @include mqMobile {
      background-position: 70%;
    }

    &::after {
      @include clearfix;
      inset: 0;
      background: linear-gradient(#00000034 15%, #00000010 30%);

      @include mqMobile {
        background: linear-gradient(#00000092 30%, #00000010 50%);
      }
    }
  }
}

.services__header {
  .header__img {
    height: 30vh;
    margin-top: 3.5rem;
    background-image: url('/assets/img/header_img.png');
    background-position: center;
    filter: contrast(150%);

    &::after {
      @include clearfix;
      inset: 0;
      background: linear-gradient(#91836750, #56565617);
    }
  }
}
