@use '../abstracts' as *;

//* Services Page

// Main Services Section

.services {
  overflow: hidden;
  align-items: center;
  width: 100%;

  h1 {
    margin-bottom: 5rem;
    @include mqMobile {
      margin-bottom: 3rem;
    }
  }

  h2 {
    margin-bottom: 3rem;
    @include mqMobile {
      margin-bottom: 1rem;
    }
  }
}

// Card Container

.main-services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 0.25rem;
  align-items: stretch;
  justify-content: center;
  max-width: 65vw;

  @include mqMedium {
    grid-template-columns: repeat(2, 1fr);
    max-width: none;
  }

  @include mqMobile {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

// Cards

.main-services__card {
  position: relative;
  display: flex;
  overflow: hidden;
  min-width: 20rem;

  // Slide down cover card on hover
  &:hover .card__outer,
  &:focus-within .card__outer {
    transform: translateY(120%);
    opacity: 0;
  }

  @include mqMobile {
    min-width: 100%;
  }
}

// Outer Card

.card__outer {
  position: absolute;
  inset: 0rem;
  gap: 0.75rem;
  border: $standard-border;
  outline: $card-outline;
  outline-offset: -10px;
  transition: $ease-in;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  color: $white-txt;

  // Hide overlay on mobile
  @include mqMobile {
    display: none;
  }

  i {
    font-size: 3rem;
    margin-top: -3rem;
  }

  // Background Image
  &::after,
  &::before {
    @include clearfix;
    inset: 0;
    z-index: -1;
  }
  &::after {
    opacity: 0.15;
  }
  &::before {
    background: $dark-bg;
  }
}

// Inner Card

.card__inner {
  position: relative;
  z-index: -2;
  gap: 1rem;
  padding: 2.5rem 2.5rem;
  background: $gray-bg;
  border: $standard-border;
  outline: $card-outline;
  outline-offset: -10px;
  box-shadow: $small-shadow;
  color: $white-txt;
  line-height: 1.8;
  font-weight: 500;
  font-size: 1rem;
}

// Card Backgrounds

@each $card in ('develop', 'design', 'uiux', 'seo', 'strategy', 'hosting') {
  .card__#{$card} {
    &::after {
      background-image: url('/assets/img/services/#{$card}-card.png');
    }
  }
}

// Process Section

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
  width: 94%;

  @include mqMobile {
    overflow: hidden;
    margin-bottom: 5rem;
    width: 100%;
  }
}

.timeline__circle {
  position: absolute;
  inset: 0 auto auto -3.1rem;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 3;

  background: $gold;
  border: 4px solid $light-bg;
  border-radius: 50%;
  outline: $standard-border;

  @include mqMobile {
    display: none;
  }
}

.process__timeline {
  position: relative;
  gap: 5rem;

  @include mqMobile {
    gap: 3rem;
  }

  &::after {
    @include clearfix;
    left: -1rem;
    z-index: -1;
    width: 0.25rem;
    height: calc(100% - 11rem);
    background: $gold;
    border-left: 2px solid #baa172;
    border-radius: 2px;

    @include mqMobile {
      display: none;
    }
  }
}

.timeline__card {
  position: relative;
  align-items: center;
  gap: 1rem;
  max-width: 35rem;
  margin-left: 1.5rem;
  padding: 2rem 3rem;
  background: $card-bg;
  border: $card-border;
  border-radius: $card-br;
  box-shadow: $card-shadow;
  color: $black-txt;
  line-height: $card-lh;

  transform: translateX(50%) scale(0.8);
  opacity: 0;
  transition: all 500ms;

  @include mqMobile {
    align-items: flex-start;
    margin-left: 0rem;
  }

  &:last-of-type {
    align-items: flex-end;

    @include mqMobile {
      align-items: flex-start;
    }
  }

  h3 {
    font-weight: 600;
  }
}

.timeline__step {
  position: absolute;
  align-self: flex-start;
  width: max-content;
  padding: 0rem 0.5rem;
  top: 1.8rem;
  background: $gray-bg;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  color: $white-txt;

  @include mqMobile {
    position: relative;
    top: 0rem;
  }
}

.timeline__step-last {
  align-self: flex-start;
  background: #289541;
  animation: pop 5s infinite ease;
}

.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
